$white:rgb(240,240,240);
$orange: #FFB800;
$purple:#7A59C1;

$fontColor_lightTheme: $white;

@mixin flexRowCC{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
@mixin flexColumnCC{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
