@import '../../assets/globalStyleSets/globalStyles.module.scss';

@font-face {
    font-family: Roboto-Regular;
    src: url('../../assets/fonts/Roboto-Regular.ttf');
}

.block{
    @include flexColumnCC;
    width:200px;
    height: 200px;
    padding:25px;
    border-radius: 60px;
    border-right: 2px solid rgba(255, 255, 255, 0.25);
    border-bottom: 2px solid rgba(255, 255, 255, 0.25);
    border-left: 2px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    


    .image{
        width:150px;
        height:150px;
    }

    .caption{
        color:black;
        font-family: Roboto-Regular;
        font-size: 15px;
        margin-top: 5%;
    }
}